.app-yearslider .x-panel-body {
  background: #5fa2dd;
}
/*.app-yearslider-slider-bodyEl{
     height: 20px !important; 
  }
.app-yearslider .x-panel-body:hover {
  background: rgba(95, 162, 221, 0.9);
}*/

.map-container .x-tool {
  top: -2px !important;
  /*left: 0 !important;*/
  font-size: 19pt;
  color: #fff;
  height: 21px;
}
.map-container .x-tool-img {
  background-image: none;
}
.map-container .x-title {
  top: 0 !important;
}
.x-slider{
  margin: 0 !important;
  }
.sum {
  background-image:url(../images/sum_icon.png) !important;
  background-size: 100% 100%;
}
.cotton {
  background-image:url(../images/cotton_icon.png) !important;
  background-size: 100% 100%;
}
.wheat {
  background-image:url(../images/wheat_icon.png) !important;
  background-size: 100% 100%;
}
.rice {
  background-image:url(../images/rice_icon.png) !important;
  background-size: 100% 100%;
}
.fallow {
  background-image:url(../images/fallow_icon.png) !important;
  background-size: 100% 100%;
}
.other {
  background-image:url(../images/other_icon.png) !important;
  background-size: 100% 100%;
}
.orchard {
  background-image:url(../images/orchard_icon.png) !important;
  background-size: 100% 100%;
}
.garden {
  background-image:url(../images/garden_icon.png) !important;
  background-size: 100% 100%;
}
.maize {
  background-image:url(../images/maize_icon.png) !important;
  background-size: 100% 100%;
}
.veg {
  background-image:url(../images/veg_icon.png) !important;
  background-size: 100% 100%;
}
.sun {
  background-image:url(../images/sun_icon.png) !important;
  background-size: 100% 100%;
}

.glossary {
  background-image:url(../images/glossary.png) !important;
  /*background-size: 100% 100%;*/
}
.help {
  background-image:url(../images/help.png) !important;
  /*background-size: 100% 100%;*/
}
.email {
  background-image:url(../images/icon-email-16px.png) !important;
}
.zoomButton{
  padding: 3px !important;
  height: 37px !important;
}
.x-boundlist-item{
  line-height: 15px !important;
  padding: 5px 10px !important;
}

.x-legend-container{
  border: 0 none;
  /*width: 650px;
  overflow: hidden !important;*/
}
.x-legend-item{
  border-left: 0 none !important;
  font-size: 11px;
  line-height: 11px;
  padding: 5px 0px 5px 20px;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.x-legend-item-marker {
  top: 6px;
}

.mlu-header {
  margin-top: 10px;
  margin-bottom: 10px;  
}
.mlu-crop-img {
  margin-top: 10px;
}
.mlu-crop-img img {
  width: 50px;
  height: 50px;
}

.t-bigger .x-autocontainer-innerCt {
  font-size: 12pt;
}
.t-xs-bigger .x-autocontainer-innerCt {
  font-size: 11pt;
}
.t-center {
  text-align: center;
}
.t-bold .x-autocontainer-innerCt {
  font-weight: bold;
}

#legend-button{
  left: auto !important;
  right: 8px !important;
  top: 8px !important;
  bottom: auto !important;
}

#satellite-button {
  left: 10px;
  bottom: 10px;  
}

.x-form-item-label-top > .x-form-item-label-inner {
  padding-bottom: 0px !important;
}
.x-form-text-wrap {
  position: relative;
}

.x-form-field-overlay {
  background-color: #ffffff;
  position: absolute;
  top: 0;
}

.x-tip{
  background-color: #FCFDFD;
}
.x-tip-body{
  color: #191919;
}
 
.x-label-icon {
  padding-left: 18px !important;
  background-repeat: no-repeat;
  background-position:0 -1px;
}
.x-grid-cell-inner {
    padding: 3px 3px 3px 6px;
}

.x-form-item-default.x-item-disabled {
    opacity: 1;
}
